# Clean-up code to clean source data
----

In [1]:
# Dependencies
import pandas as pd

In [2]:
# load source data
student_csv = "input/Student_Data.csv"

In [3]:
# Read with pandas into dataframe
student_df = pd.read_csv(student_csv, encoding = 'iso-8859-1', low_memory=False)

# Inspect all columns
list(student_df.columns)

['School ID',
 'School name',
 'Sector',
 'Grade band',
 'School Ward, 2016-17',
 'Opening or closing schools',
 'Racial and ethnic diversity score, 2014-15',
 'Racial and ethnic diversity score, 2016-17',
 'Most racially and ethnically diverse, 2016-17',
 'Economic diversity score, 2014-15',
 'Economic diversity score, 2016-17',
 'Most economically diverse, 2016-17',
 'Percent African American, 2014-15',
 'Percent Latino, 2014-15',
 'Percent white, 2014-15',
 'Percent other, 2014-15',
 'Plurality race or ethnicity, 2014-15',
 'Percent African American, 2016-17',
 'Percent Latino, 2016-17',
 'Percent white, 2016-17',
 'Percent other, 2016-17',
 'Plurality race or ethnicity, 2016-17',
 'Percent at-risk, 2014-15',
 'Percent not at-risk, 2014-15',
 'Plurality economic group, 2014-15',
 'Percent at-risk, 2016-17',
 'Percent not at-risk, 2016-17',
 'Plurality economic group, 2016-17',
 'Boundary participation rate, 2016-17',
 'Enrollment in PK-12, 2014-15',
 'School address, 2016-17',
 'Latitude, 2016-17',
 'Longitude, 2016-17',
 'Enrollment in PK-12, 2016-17',
 'Students living in Ward 1, 2016-17',
 'Students living in Ward 2, 2016-17',
 'Students living in Ward 3, 2016-17',
 'Students living in Ward 4, 2016-17',
 'Students living in Ward 5, 2016-17',
 'Students living in Ward 6, 2016-17',
 'Students living in Ward 7, 2016-17',
 'Students living in Ward 8, 2016-17',
 'Ward unknown, 2016-17',
 'Percent living in Ward of school, 2016-17',
 'Distance in miles to metro stop, 2016-17',
 'Change in race and ethnicity plurality group, 2014-15 to 2016-17',
 'Change in economic plurality group, 2014-15 to 2016-17',
 'Percentage point change in at-risk students, 2014-15 to 2016-17',
 'Percentage point change, African American (2014-15 to 2016-17)',
 'Percentage point change, Latino (2014-15 to 2016-17)',
 'Percentage point change, white (2014-15 to 2016-17)',
 'Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17)',
 'Percentage point difference in economic diversity score over time (2014-15 to 2016-17)']

In [4]:
# Select subset of student data  
sub_student_df = student_df.iloc[:,[1, 2, 3, 4, 12, 13, 14, 15, 17, 18, 19, 20, 29, 33, 43, 45, 46, 51, 52]]
sub_student_df.head()

,School name,Sector,Grade band,"School Ward, 2016-17","Percent African American, 2014-15","Percent Latino, 2014-15","Percent white, 2014-15","Percent other, 2014-15","Percent African American, 2016-17","Percent Latino, 2016-17","Percent white, 2016-17","Percent other, 2016-17","Enrollment in PK-12, 2014-15","Enrollment in PK-12, 2016-17","Percent living in Ward of school, 2016-17","Change in race and ethnicity plurality group, 2014-15 to 2016-17","Change in economic plurality group, 2014-15 to 2016-17",Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17),Percentage point difference in economic diversity score over time (2014-15 to 2016-17)
0,Achievement Preparatory Academy PCS Wahler Pla...,Charter,Elementary,Ward 8,1.00,0.00,NaN,0.00,0.97,0.02,0.01,0.00,267.0,464.0,0.76,0.0,1.0,0.03,-0.04
1,Achievement Preparatory Academy PCS Wahler Pla...,Charter,Middle,Ward 8,0.99,0.00,NaN,0.00,0.97,0.03,NaN,0.00,381.0,468.0,0.76,0.0,0.0,0.02,0.00
2,Aiton ES,DCPS,Elementary,Ward 7,1.00,NaN,0.00,0.00,1.00,0.00,NaN,0.00,262.0,251.0,0.90,0.0,0.0,0.00,0.02
3,Amidon Bowen ES,DCPS,Elementary/Middle,Ward 6,0.88,0.05,0.03,0.03,0.88,0.04,0.05,0.04,345.0,350.0,0.75,0.0,0.0,0.00,0.05
4,Anacostia HS,DCPS,High,Ward 8,1.00,NaN,0.00,0.00,0.99,0.01,NaN,0.00,661.0,449.0,0.64,0.0,0.0,0.01,0.05

### Reorganize the columns

In [5]:
# sum non-white percentages for 2014-15 and 2016-17

sub_student_df = sub_student_df.copy()  

sub_student_df['% Non-white 2014-15'] = sub_student_df['Percent African American, 2014-15']\
                                   + sub_student_df['Percent Latino, 2014-15']\
                                   + sub_student_df['Percent other, 2014-15']

sub_student_df['% Non-white 2016-17'] = sub_student_df['Percent African American, 2016-17']\
                                   + sub_student_df['Percent Latino, 2016-17']\
                                   + sub_student_df['Percent other, 2016-17']              


# rename "percent white columns and yy to yy columns for consistency"
sub_student_df.rename(columns={"Percent white, 2014-15": "% White 2014-15",
                              "Percent white, 2016-17": "% White 2016-17",
                              "Change in race and ethnicity plurality group, 2014-15 to 2016-17":
                              "Change in race and ethnicity plurality group (2014-15 to 2016-17)",
                              "Change in economic plurality group, 2014-15 to 2016-17":
                              "Change in economic plurality group (2014-15 to 2016-17)"}, inplace = True)


sub_student_df.head()

,School name,Sector,Grade band,"School Ward, 2016-17","Percent African American, 2014-15","Percent Latino, 2014-15",% White 2014-15,"Percent other, 2014-15","Percent African American, 2016-17","Percent Latino, 2016-17",...,"Percent other, 2016-17","Enrollment in PK-12, 2014-15","Enrollment in PK-12, 2016-17","Percent living in Ward of school, 2016-17",Change in race and ethnicity plurality group (2014-15 to 2016-17),Change in economic plurality group (2014-15 to 2016-17),Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17),Percentage point difference in economic diversity score over time (2014-15 to 2016-17),% Non-white 2014-15,% Non-white 2016-17
0,Achievement Preparatory Academy PCS Wahler Pla...,Charter,Elementary,Ward 8,1.00,0.00,NaN,0.00,0.97,0.02,...,0.00,267.0,464.0,0.76,0.0,1.0,0.03,-0.04,1.00,0.99
1,Achievement Preparatory Academy PCS Wahler Pla...,Charter,Middle,Ward 8,0.99,0.00,NaN,0.00,0.97,0.03,...,0.00,381.0,468.0,0.76,0.0,0.0,0.02,0.00,0.99,1.00
2,Aiton ES,DCPS,Elementary,Ward 7,1.00,NaN,0.00,0.00,1.00,0.00,...,0.00,262.0,251.0,0.90,0.0,0.0,0.00,0.02,NaN,1.00
3,Amidon Bowen ES,DCPS,Elementary/Middle,Ward 6,0.88,0.05,0.03,0.03,0.88,0.04,...,0.04,345.0,350.0,0.75,0.0,0.0,0.00,0.05,0.96,0.96
4,Anacostia HS,DCPS,High,Ward 8,1.00,NaN,0.00,0.00,0.99,0.01,...,0.00,661.0,449.0,0.64,0.0,0.0,0.01,0.05,NaN,1.00

In [6]:
#create new data frame with revised columns
new_student_df=sub_student_df[['School Ward, 2016-17', 'Sector', 'School name', 'Grade band', '% Non-white 2014-15',
                '% White 2014-15','% Non-white 2016-17','% White 2016-17', 
                'Enrollment in PK-12, 2014-15', 'Enrollment in PK-12, 2016-17',
                'Percent living in Ward of school, 2016-17',
                'Change in race and ethnicity plurality group (2014-15 to 2016-17)',
                'Change in economic plurality group (2014-15 to 2016-17)',
                'Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17)',
                'Percentage point difference in economic diversity score over time (2014-15 to 2016-17)']]

new_student_df.head()

,"School Ward, 2016-17",Sector,School name,Grade band,% Non-white 2014-15,% White 2014-15,% Non-white 2016-17,% White 2016-17,"Enrollment in PK-12, 2014-15","Enrollment in PK-12, 2016-17","Percent living in Ward of school, 2016-17",Change in race and ethnicity plurality group (2014-15 to 2016-17),Change in economic plurality group (2014-15 to 2016-17),Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17),Percentage point difference in economic diversity score over time (2014-15 to 2016-17)
0,Ward 8,Charter,Achievement Preparatory Academy PCS Wahler Pla...,Elementary,1.00,NaN,0.99,0.01,267.0,464.0,0.76,0.0,1.0,0.03,-0.04
1,Ward 8,Charter,Achievement Preparatory Academy PCS Wahler Pla...,Middle,0.99,NaN,1.00,NaN,381.0,468.0,0.76,0.0,0.0,0.02,0.00
2,Ward 7,DCPS,Aiton ES,Elementary,NaN,0.00,1.00,NaN,262.0,251.0,0.90,0.0,0.0,0.00,0.02
3,Ward 6,DCPS,Amidon Bowen ES,Elementary/Middle,0.96,0.03,0.96,0.05,345.0,350.0,0.75,0.0,0.0,0.00,0.05
4,Ward 8,DCPS,Anacostia HS,High,NaN,0.00,1.00,NaN,661.0,449.0,0.64,0.0,0.0,0.01,0.05

### Group data by sector and ward

In [7]:
#grouped_sector_ward = new_student_df.groupby(['Sector','School Ward, 2016-17']).reset_index()
                                    
sorted_sector_ward = new_student_df.sort_values(['Sector','School Ward, 2016-17']).reset_index(drop=True)

#sorted_sector_ward.count()
sorted_sector_ward

,"School Ward, 2016-17",Sector,School name,Grade band,% Non-white 2014-15,% White 2014-15,% Non-white 2016-17,% White 2016-17,"Enrollment in PK-12, 2014-15","Enrollment in PK-12, 2016-17","Percent living in Ward of school, 2016-17",Change in race and ethnicity plurality group (2014-15 to 2016-17),Change in economic plurality group (2014-15 to 2016-17),Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17),Percentage point difference in economic diversity score over time (2014-15 to 2016-17)
0,Ward 1,Charter,AppleTree Early Learning Center PCS Columbia H...,Early Childhood,0.79,0.21,0.83,0.16,163.0,160.0,0.49,0.0,0.0,0.18,-0.02
1,Ward 1,Charter,Cesar Chavez PCS for Public Policy Chavez Prep,Middle/High,1.00,NaN,1.00,0.00,331.0,306.0,0.53,0.0,0.0,-0.05,0.00
2,Ward 1,Charter,District of Columbia International School,Middle/High,0.87,0.13,0.85,0.15,210.0,520.0,0.22,0.0,0.0,0.02,-0.02
3,Ward 1,Charter,EL Haynes PCS Middle School,Middle,0.95,0.05,0.98,0.02,377.0,348.0,0.23,1.0,0.0,-0.04,-0.01
4,Ward 1,Charter,Howard University Middle School of Mathematics...,Middle,1.00,0.00,1.00,NaN,294.0,278.0,0.11,0.0,0.0,0.01,0.06
5,Ward 1,Charter,Meridian PCS,Elementary/Middle,0.98,0.02,0.99,0.02,639.0,692.0,0.45,0.0,0.0,-0.02,-0.02
6,Ward 2,Charter,BASIS DC PCS,Middle/High,0.60,0.40,0.62,0.39,551.0,597.0,0.08,1.0,0.0,0.03,-0.01
7,Ward 2,Charter,Goodwill Excel Center PCS,High,NaN,NaN,1.00,0.01,NaN,382.0,0.03,NaN,NaN,NaN,NaN
8,Ward 4,Charter,Breakthrough Montessori PCS,Early Childhood,NaN,NaN,0.58,0.42,NaN,81.0,0.41,NaN,NaN,NaN,NaN
9,Ward 4,Charter,Capital City PCS High School,High,1.00,NaN,0.99,0.01,329.0,333.0,0.47,0.0,0.0,0.05,-0.02
10,Ward 4,Charter,Capital City PCS Lower School,Elementary,0.82,0.18,0.88,0.12,322.0,325.0,0.57,0.0,0.0,-0.08,0.06
11,Ward 4,Charter,Capital City PCS Middle School,Middle,0.93,0.07,0.92,0.08,320.0,325.0,0.53,0.0,0.0,-0.06,-0.05
12,Ward 4,Charter,Center City PCS Brightwood,Elementary/Middle,0.96,0.03,0.99,0.00,248.0,276.0,0.89,1.0,0.0,-0.01,0.07
13,Ward 4,Charter,Center City PCS Petworth,Elementary/Middle,0.99,NaN,0.99,0.02,262.0,257.0,0.55,0.0,0.0,0.04,-0.02
14,Ward 4,Charter,EL Haynes PCS Elementary School,Elementary,0.86,0.15,0.86,0.13,358.0,345.0,0.48,1.0,0.0,0.03,-0.04
15,Ward 4,Charter,EL Haynes PCS High School,High,0.99,NaN,1.00,0.00,422.0,450.0,0.44,1.0,0.0,0.05,0.00
16,Ward 4,Charter,Friendship PCS Online,Elementary/Middle,NaN,NaN,0.87,0.14,NaN,145.0,0.14,NaN,NaN,NaN,NaN
17,Ward 4,Charter,Hope Community PCS Lamond,Elementary,1.00,0.00,1.01,NaN,358.0,321.0,0.46,0.0,0.0,0.00,-0.01
18,Ward 4,Charter,Ideal Academy PCS,Elementary/Middle,1.00,0.00,1.00,0.00,297.0,300.0,0.28,0.0,1.0,0.01,0.03
19,Ward 4,Charter,Latin American Montessori Bilingual PCS,Elementary,0.73,0.26,0.75,0.26,342.0,426.0,0.48,0.0,0.0,0.04,-0.02
20,Ward 4,Charter,Paul PCS International High School,High,0.99,0.00,1.00,0.00,325.0,487.0,0.47,0.0,1.0,0.10,-0.03
21,Ward 4,Charter,Paul PCS Middle School,Middle,1.00,0.00,1.00,NaN,376.0,242.0,0.45,0.0,0.0,0.06,-0.08
22,Ward 4,Charter,Roots PCS,Elementary,1.00,0.00,NaN,NaN,95.0,118.0,0.39,0.0,0.0,-0.01,0.00
23,Ward 4,Charter,Sela PCS,Elementary,0.84,0.15,0.82,0.19,86.0,177.0,0.36,0.0,0.0,0.03,-0.06
24,Ward 4,Charter,Washington Latin PCS Middle School,Middle,0.44,0.55,0.57,0.44,366.0,362.0,0.23,0.0,0.0,0.11,-0.01
25,Ward 4,Charter,Washington Latin PCS Upper School,High,0.64,0.36,0.69,0.32,304.0,335.0,0.26,0.0,0.0,0.07,-0.08
26,Ward 5,Charter,Bridges PCS,Elementary,0.79,0.21,0.82,0.18,272.0,328.0,0.23,0.0,0.0,-0.12,-0.02
27,Ward 5,Charter,Center City PCS Trinidad,Elementary/Middle,1.00,0.00,1.01,NaN,236.0,184.0,0.51,0.0,0.0,0.08,-0.08
28,Ward 5,Charter,City Arts & Prep PCS,Elementary/Middle,0.95,0.04,0.99,0.01,439.0,522.0,0.30,0.0,0.0,-0.01,-0.04
29,Ward 5,Charter,Creative Minds International PCS,Elementary/Middle,0.55,0.45,0.57,0.43,181.0,341.0,0.18,0.0,0.0,0.02,-0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,Ward 7,DCPS,Kelly Miller MS,Middle,1.00,NaN,1.00,NaN,546.0,449.0,0.89,0.0,0.0,0.01,0.02
195,Ward 7,DCPS,Kimball ES,Elementary,1.00,NaN,1.01,NaN,348.0,372.0,0.91,0.0,0.0,0.02,-0.04
196,Ward 7,DCPS,Nalle ES,Elementary,1.00,0.00,1.00,0.00,384.0,391.0,0.83,0.0,0.0,0.01,0.04
197,Ward 7,DCPS,Plummer ES,Elementary,1.00,NaN,0.99,0.00,428.0,391.0,0.87,0.0,0.0,0.03,0.07
198,Ward 7,DCPS,Randle Highlands ES,Elementary/Middle,NaN,0.00,1.00,NaN,360.0,333.0,0.65,0.0,0.0,0.00,0.06
199,Ward 7,DCPS,Ron Brown College Preparatory High School,High,NaN,NaN,1.00,NaN,NaN,105.0,0.40,NaN,NaN,NaN,NaN
200,Ward 7,DCPS,Smothers ES,Elementary,0.99,NaN,0.99,0.00,275.0,253.0,0.90,0.0,0.0,0.06,-0.03
201,Ward 7,DCPS,Sousa MS,Middle,1.00,0.00,1.00,NaN,284.0,255.0,0.80,0.0,0.0,0.01,0.05
202,Ward 7,DCPS,Thomas ES,Elementary,1.00,NaN,0.99,0.01,408.0,409.0,0.87,0.0,0.0,0.02,0.00
203,Ward 7,DCPS,Woodson H D HS,High,NaN,NaN,0.99,0.00,639.0,634.0,0.82,0.0,0.0,0.02,0.10
204,Ward 8,DCPS,Anacostia HS,High,NaN,0.00,1.00,NaN,661.0,449.0,0.64,0.0,0.0,0.01,0.05
205,Ward 8,DCPS,Ballou HS,High,0.99,NaN,1.00,NaN,755.0,930.0,0.89,0.0,0.0,-0.01,0.07
206,Ward 8,DCPS,Boone ES,Elementary,0.99,0.00,1.01,NaN,384.0,408.0,0.66,0.0,0.0,-0.01,0.02
207,Ward 8,DCPS,Garfield ES,Elementary,NaN,0.00,1.00,NaN,284.0,301.0,0.92,0.0,0.0,0.02,0.04
208,Ward 8,DCPS,Hart MS,Middle,0.99,NaN,1.00,NaN,479.0,349.0,0.91,0.0,0.0,-0.01,-0.01
209,Ward 8,DCPS,Hendley ES,Elementary,NaN,NaN,NaN,NaN,503.0,445.0,0.95,0.0,0.0,-0.01,-0.03
210,Ward 8,DCPS,Johnson John Hayden MS,Middle,1.00,0.00,1.00,NaN,291.0,252.0,0.88,0.0,0.0,0.02,0.01
211,Ward 8,DCPS,Ketcham ES,Elementary,0.98,0.00,1.00,NaN,309.0,309.0,0.92,0.0,0.0,0.02,0.00
212,Ward 8,DCPS,King M L ES,Elementary,NaN,0.00,1.00,NaN,372.0,374.0,0.89,0.0,0.0,0.02,0.04
213,Ward 8,DCPS,Kramer MS,Middle,NaN,NaN,1.00,NaN,333.0,193.0,0.88,0.0,0.0,0.00,-0.04
214,Ward 8,DCPS,Leckie ES,Elementary/Middle,0.86,0.11,0.91,0.08,478.0,552.0,0.90,0.0,0.0,0.04,-0.06
215,Ward 8,DCPS,Malcolm X ES at Green,Elementary,NaN,0.00,NaN,NaN,244.0,237.0,0.91,0.0,0.0,0.00,0.03
216,Ward 8,DCPS,Moten ES,Elementary,NaN,0.00,0.99,NaN,395.0,405.0,0.89,0.0,0.0,0.01,0.04
217,Ward 8,DCPS,Patterson ES,Elementary,1.00,0.00,1.00,NaN,380.0,394.0,0.95,0.0,0.0,0.01,-0.03
218,Ward 8,DCPS,Savoy ES,Elementary,NaN,NaN,1.00,NaN,408.0,315.0,0.92,0.0,0.0,0.00,0.03
219,Ward 8,DCPS,Simon ES,Elementary,1.00,0.00,1.00,0.00,293.0,276.0,0.93,0.0,0.0,0.01,0.08
220,Ward 8,DCPS,Stanton ES,Elementary,1.00,NaN,1.00,NaN,578.0,520.0,0.83,0.0,0.0,0.00,0.02
221,Ward 8,DCPS,Turner ES,Elementary,0.99,NaN,1.00,0.00,392.0,484.0,0.90,0.0,0.0,-0.01,0.02
222,NaN,DCPS,Brookland EC at Bunker Hill,Elementary/Middle,0.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,NaN,OSSE Managed School,Hospitality High School,High,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Remove the rows with missing data
clean_sector_ward_df = sorted_sector_ward.dropna(how="any")

clean_sector_ward_df.count()
#clean_sector_ward_df.dtypes

School Ward, 2016-17                                                                               90
Sector                                                                                             90
School name                                                                                        90
Grade band                                                                                         90
% Non-white 2014-15                                                                                90
% White 2014-15                                                                                    90
% Non-white 2016-17                                                                                90
% White 2016-17                                                                                    90
Enrollment in PK-12, 2014-15                                                                       90
Enrollment in PK-12, 2016-17                                                                       90
Percent living in Ward of school, 2016-17                                                          90
Change in race and ethnicity plurality group (2014-15 to 2016-17)                                  90
Change in economic plurality group (2014-15 to 2016-17)                                            90
Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17)    90
Percentage point difference in economic diversity score over time (2014-15 to 2016-17)             90
dtype: int64

In [9]:
### Group data by ward and sector

In [10]:
#grouped_ward_sector = new_student_df.groupby(['School Ward, 2016-17','Sector']).reset_index()
                                    
sorted_ward_sector = new_student_df.sort_values(['School Ward, 2016-17','Sector']).reset_index(drop=True)

#sorted_ward_sector.count()
sorted_ward_sector.head()

,"School Ward, 2016-17",Sector,School name,Grade band,% Non-white 2014-15,% White 2014-15,% Non-white 2016-17,% White 2016-17,"Enrollment in PK-12, 2014-15","Enrollment in PK-12, 2016-17","Percent living in Ward of school, 2016-17",Change in race and ethnicity plurality group (2014-15 to 2016-17),Change in economic plurality group (2014-15 to 2016-17),Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17),Percentage point difference in economic diversity score over time (2014-15 to 2016-17)
0,Ward 1,Charter,AppleTree Early Learning Center PCS Columbia H...,Early Childhood,0.79,0.21,0.83,0.16,163.0,160.0,0.49,0.0,0.0,0.18,-0.02
1,Ward 1,Charter,Cesar Chavez PCS for Public Policy Chavez Prep,Middle/High,1.00,NaN,1.00,0.00,331.0,306.0,0.53,0.0,0.0,-0.05,0.00
2,Ward 1,Charter,District of Columbia International School,Middle/High,0.87,0.13,0.85,0.15,210.0,520.0,0.22,0.0,0.0,0.02,-0.02
3,Ward 1,Charter,EL Haynes PCS Middle School,Middle,0.95,0.05,0.98,0.02,377.0,348.0,0.23,1.0,0.0,-0.04,-0.01
4,Ward 1,Charter,Howard University Middle School of Mathematics...,Middle,1.00,0.00,1.00,NaN,294.0,278.0,0.11,0.0,0.0,0.01,0.06

In [11]:
# Remove the rows with missing data
clean_ward_sector_df = sorted_ward_sector.dropna(how="any")

clean_ward_sector_df.count()
#clean_ward_sector_df.dtypes

School Ward, 2016-17                                                                               90
Sector                                                                                             90
School name                                                                                        90
Grade band                                                                                         90
% Non-white 2014-15                                                                                90
% White 2014-15                                                                                    90
% Non-white 2016-17                                                                                90
% White 2016-17                                                                                    90
Enrollment in PK-12, 2014-15                                                                       90
Enrollment in PK-12, 2016-17                                                                       90
Percent living in Ward of school, 2016-17                                                          90
Change in race and ethnicity plurality group (2014-15 to 2016-17)                                  90
Change in economic plurality group (2014-15 to 2016-17)                                            90
Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17)    90
Percentage point difference in economic diversity score over time (2014-15 to 2016-17)             90
dtype: int64

### Format the sorted dataframes and Export data to excel

In [12]:
clean_sector_ward_df = clean_sector_ward_df.copy()  

clean_sector_ward_df.dtypes
#clean_sector_ward_df

# clean_sector_ward_df[['% Non-white 2014-15', '% White 2014-15']]\
#                     = clean_sector_ward_df[['% Non-white 2014-15', '% White 2014-15']].apply(pd.to_numeric)


####when i run the code below, the first two % variables turn into ....objects?????? ######

# clean_sector_ward_df['% Non-white 2014-15']=clean_sector_ward_df['% Non-white 2014-15'].map("{0:,.2f}%".format)
# clean_sector_ward_df['% White 2014-15']=clean_sector_ward_df['% White 2014-15'].map("{0:,.2f}%".format)
# clean_sector_ward_df['% Non-white 2016-17']=clean_sector_ward_df['% Non-white 2016-17'].map("{0:,.2f}%".format)
# clean_sector_ward_df['% White 2016-17']=clean_sector_ward_df['% White 2016-17'].map("{0:,.2f}%".format)
# clean_sector_ward_df['% Percent living in Ward of school, 2016-17']\
#          =clean_sector_ward_df['Percent living in Ward of school, 2016-17'].map("{0:,.2f}%".format)
# clean_sector_ward_df['Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17)']\
#          =clean_sector_ward_df['Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17)'].map("{0:,.2f}%".format)
# clean_sector_ward_df['Percentage point difference in economic diversity score over time (2014-15 to 2016-17)']\
#          =clean_sector_ward_df['Percentage point difference in economic diversity score over time (2014-15 to 2016-17)'].map("{0:,.2f}%".format)

clean_sector_ward_df.dtypes
# clean_sector_ward_df.head()

School Ward, 2016-17                                                                                object
Sector                                                                                              object
School name                                                                                         object
Grade band                                                                                          object
% Non-white 2014-15                                                                                float64
% White 2014-15                                                                                    float64
% Non-white 2016-17                                                                                float64
% White 2016-17                                                                                    float64
Enrollment in PK-12, 2014-15                                                                       float64
Enrollment in PK-12, 2016-17                                                                       float64
Percent living in Ward of school, 2016-17                                                          float64
Change in race and ethnicity plurality group (2014-15 to 2016-17)                                  float64
Change in economic plurality group (2014-15 to 2016-17)                                            float64
Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17)    float64
Percentage point difference in economic diversity score over time (2014-15 to 2016-17)             float64
dtype: object

In [13]:
clean_ward_sector_df = clean_ward_sector_df.copy()  
clean_ward_sector_df.dtypes

#clean_ward_sector_df

# clean_ward_sector_df[["% Non-white 2014-15", "% White 2014-15"]]\
#                     = clean_ward_sector_df[["% Non-white 2014-15", "% White 2014-15"]].apply(pd.to_numeric)


# clean_ward_sector_df["% Non-white 2014-15"]=clean_ward_sector_df["% Non-white 2014-15"].map("{0:,.2f}%".format)
# clean_ward_sector_df["% White 2014-15"]=clean_ward_sector_df["% White 2014-15"].map("{0:,.2f}%".format)
# clean_ward_sector_df["% Non-white 2016-17"]=clean_ward_sector_df["% Non-white 2016-17"].map("{0:,.2f}%".format)
# clean_ward_sector_df["% White 2016-17"]=clean_ward_sector_df["% White 2016-17"].map("{0:,.2f}%".format)
# clean_ward_sector_df["% Percent living in Ward of school, 2016-17"]\
#          =clean_ward_sector_df["Percent living in Ward of school, 2016-17"].map("{0:,.2f}%".format)
# clean_ward_sector_df["Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17)"\
#          =clean_ward_sector_df["Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17)"].map("{0:,.2f}%".format)
# clean_ward_sector_df["Percentage point difference in economic diversity score over time (2014-15 to 2016-17)"]\
#          =clean_ward_sector_df["Percentage point difference in economic diversity score over time (2014-15 to 2016-17)"].map("{0:,.2f}%".format)

# clean_ward_sector_df.head()

School Ward, 2016-17                                                                                object
Sector                                                                                              object
School name                                                                                         object
Grade band                                                                                          object
% Non-white 2014-15                                                                                float64
% White 2014-15                                                                                    float64
% Non-white 2016-17                                                                                float64
% White 2016-17                                                                                    float64
Enrollment in PK-12, 2014-15                                                                       float64
Enrollment in PK-12, 2016-17                                                                       float64
Percent living in Ward of school, 2016-17                                                          float64
Change in race and ethnicity plurality group (2014-15 to 2016-17)                                  float64
Change in economic plurality group (2014-15 to 2016-17)                                            float64
Percentage point difference in racial and ethnic diversity score over time (2014-15 to 2016-17)    float64
Percentage point difference in economic diversity score over time (2014-15 to 2016-17)             float64
dtype: object

In [15]:
# export data to excel 

clean_ward_sector_df.to_excel("output/studentbyward.xlsx", index=False)
clean_sector_ward_df.to_excel("output/studentbysector.xlsx", index=False)